:root {
    --primary-logo-color: #000000;
    --nav-link-color: #212121;
    --address-link-color: #757575;
    --primary-footer-link-color: #ffffff;
    --secondary-footer-link-color: rgba(255,255,255,.6);
    --primary-text-color: #757575;
    --secondary-text-color: rgba(255,255,255,.6);
    --title-color: #212121;
    --accent-color: #2196f3;
    --hover-color: #188ce8;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fA;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}

.hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin: -1px;
}

a,
button {
    text-decoration: none;
}


/* Логотип */

.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.header-logo {
    color: var(--primary-logo-color);
}

.footer-logo {
    color: var(--primary-background-color);
    background-color: var(--primary-text-color);
}

.header-logo span,
.footer-logo span {
    color: var(--accent-color);
}


/* Навигация */

.header-nav-list,
.header-address-list {
    list-style: none;
    padding: 0;
}

.header-nav-link,
.header-address-link {
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
    color: var(--accent-color);
}

.header-nav-link {
    color: var(--nav-link-color);
}

.header-address-link {
    color: var(--address-link-color);
}

.header-nav-link.current {
    color: var(--accent-color);
}


/* Блок-герой */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background-color);
    background-color: var(--primary-text-color);
}

.hero-btn {
    border-style: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-background-color);

    background-color: var(--accent-color);

    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color);
}


/* Блок преимуществ */

.benefits-list {
    list-style: none;
    padding: 0;
}

.benefit-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--title-color);
}

.benefit-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
}


/* Блок услуг */

.services-list {
    list-style: none;
    padding: 0;
}


/* Наша команда */

.team {
    background-color: var(--secondary-background-color);
}

.team-list {
    list-style: none;
    padding: 0;
}

.team-item {
    background-color: var(--primary-background-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}


/* Портфолио */

.portfolio-btn-list {
    list-style: none;
    padding: 0;
}

.portfolio-btn {
    border-style: none;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    background-color: var(--secondary-background-color);

    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

.portfolio-btn.current {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

.portfolio-list {
    list-style: none;
    padding: 0;
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-color);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
}


/* Футер */

.footer-address-list {
    list-style: none;
    padding: 0;
}

.footer-address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-footer-link-color);
    background-color: var(--primary-text-color);
}

.footer-address-link.location {
    color: var(--primary-footer-link-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
    color: var(--accent-color);
}